#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.click{
  font-size: 50px;
  color: rgba(240, 248, 255, 0.6);
  background-color: transparent;
}

.click:hover{
  color: rgba(0, 0, 0, 0.219);
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}

.bottom {
  position:fixed;
   left:0rem;
   bottom:5rem;
   height:1rem;
   width:100%;
}

.click.left{
  margin-right: calc(15vw - 2rem)
}

.click.right{

  margin-left: calc(15vw - 2rem)
}

img.album {
  height: 3rem;
  width: auto;
  border-radius: 10%;
}

.albumImg {
  width: 4rem;
  display: inline-block;
  vertical-align: middle;
}

.songscard {
  width: 10rem;
  display: inline-block;
  vertical-align: middle;
  font-size: small;
}

.row.card.song {
  text-align: center;
  /*width: 15rem;*/
  height: 3rem;
  background-color: transparent;
}

.top-border {
  border-top: 1px solid rgb(185, 185, 185);
}

a.song.text {
  color: rgb(37, 37, 37);
}

.topSongs {
  border-radius: 1rem;
  background-color: aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  width: 17rem;
}

.topSongs.text {
  background-color: transparent;
  box-shadow: none;
}

h2.top-songs{
  color: white;
  margin-bottom: 1rem;
  font-size: xx-large;
  text-shadow:  2px 1px rgba(0, 0, 0, 0.7);
  background-color: transparent;
  align-self: center;
}

.grid-container {
  border: 1px solid black;
  display: grid;
  grid: 32rem / auto auto auto;
  grid-gap:10rem;
  align-items: flex-end;
  padding-bottom: 5rem;
  margin-top: 5rem;
}

.all-time-songs {
  padding-bottom: 3rem;
}
.new-songs {
  margin-bottom: -3rem;
}

h1.top-songs {
  margin-top: -3rem;
  color: #ffffff;
  text-shadow:  3px 2px #931EFF;
  background-color: transparent;

}

.top-songs {
  background-color: transparent;
}

.card.artist-meter{
  border-radius: 1rem;
  background-color: #690EBD;
  background-image: url("paper.gif");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  width: 30rem;
  margin-bottom: 10rem;
  margin-left: 20rem
}


a.artist-meter{
  color: white;
}

a.artist-meter:hover{
  color: white
}

h2.artist-meter{
  color: white;
  margin-bottom: 1rem;
  font-size: xx-large;
  text-shadow:  1px 3px rgba(0, 0, 0, 0.4);
  background-color: transparent;
  align-self: center;
}