
table.recommendations{
    background-color: #8d1affc5;
    color: white;
    box-shadow: 0 2px 8px 0 #ffffff28, 0 6px 100px 0 rgba(83, 255, 4, 0.349);
    border-radius: 0.5rem;
    width: 20rem;
    height: 30rem;
    margin-bottom: -5rem;
    padding-top: 1rem;
}

a.recommendations{
    color: white
}

.grid-container.time-capsule{
    margin-top: 1rem;
}

img.album.recommendation{
    height: 3.5rem;
}

td.albumImg{
    margin-right: 2rem;
    margin-left: 1rem;
}

.recommendations-border{
    border-top: 1px solid rgb(185, 185, 185);
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    padding-top:0.5rem
}

button.time-capsule{
    color:#8dff1a;
    font-size: large;
    font-weight: bolder;
    background-color:  #8B1AFF;
    margin-right: 1rem;
}