
.userStyleContent {
	border: 2px solid blue;
	border-radius: 12px;
}

.styleSongs {
	border: 2px solid black;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.songItem {
	display: flex;
}